html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

div {
  display: block;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.home-card {
  padding: 2rem 1rem;
  margin-right: 0;
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.card {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.cp1 {
  display: block;
  text-align: center;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 1rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}

.title-highlight {
  color: #FE4800;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 6rem;
  letter-spacing: 0.5rem;
  text-align: center;
}

.cp2 {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  box-sizing: border-box;
  text-align: center;
}

.intro-sum {
  padding-right: 4.55rem;
  padding-left: 4.5rem;
  letter-spacing: 0.05rem;
  font-family: "PT Sans";
  max-width: 600px;
  text-align: center;
}

.home-card img {
  margin-top: 3rem;
  max-width: 100%;
  height: auto;
}

.card-img {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}