/* Estilos para pantalla grande (desktop) */
@media only screen and (min-width: 992px) {
  .home-card {
    padding: 2rem 1rem;
  }

  .cp1 {
    display: block;
    text-align: center;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
  }

  .title-highlight {
    text-align: center;
    color: #FE4800;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 6rem;
    letter-spacing: 0.5rem;
  }
}

/* Estilos para pantalla mediana (tablet) */
@media only screen and (max-width: 991px) {
  .home-card {
    padding: 1.5rem 1rem;
  }

  .cp1 {
    display: block;
    text-align: center;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }

  .title-highlight {
    text-align: center;
    color: #FE4800;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 5rem;
    letter-spacing: 0.5rem;
  }
}

/* Estilos para pantalla pequeña (móvil) */
@media only screen and (max-width: 767px) {
  .home-card {
    padding: 1rem;
  }

  .cp1 {
    display: block;
    text-align: center;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }

  .title-highlight {
    text-align: center;
    color: #FE4800;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 0.5rem;
  }

  .intro-sum {
    padding-right: 0.1rem;
    padding-left: 0.1rem;
    letter-spacing: 0.05rem;
    font-family: "PT Sans";
    max-width: 100%;
    text-align: center;
  }
}