@media (min-width: 768px) {
    /* Estilos para pantallas medianas y grandes */
    body {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    /* Estilos para pantallas grandes */
    body {
        font-size: 20px;
    }
}

img {
    max-width: 100%;
    height: auto;
}