/* Estilos generales para el menú */
nav {
    background-color: transparent;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    font-size: larger;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "PT Sans";
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

/* Estilo para el botón */
#colorButton {
    display: block;
    float: right;
    margin: auto;
    padding: auto;
    padding-top: 15px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}