body {
    transition: background-color 0.5s, color 0.5s;
    margin: 0;
}

.light-mode {
    background-color: #EAEAEA ;
    color: #181818 ;
}

.dark-mode {
    background-color: #181818 ;
    color: #EAEAEA ;
}

/* Estilos específicos para el texto del enlace según el tema */
.light-mode li a {
    color: #181818 ; /* Color del texto en modo claro */
}

.dark-mode li a {
    color: #EAEAEA ; /* Color del texto en modo oscuro */
}

/* Estilos generales para el ícono */
#icon {
    font-size: 24px; /* Ajusta el tamaño según sea necesario */
    transition: color 0.5s; /* Agrega una transición de color suave */
}

/* Estilos específicos para el ícono en modo claro */
.light-mode #icon {
    color: #181818 ; /* Color del ícono en modo claro */
}

/* Estilos específicos para el ícono en modo oscuro */
.dark-mode #icon {
    color: #EAEAEA ; /* Color del ícono en modo oscuro */
}